@keyframes startAppMainContent {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes onePulse {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes onePulseSize1 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    10% {
        bottom: 0%;
        left: 50%;
        transform: scale(1.4)translate(-35%, 40%);
    }

    20% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    30% {
        bottom: 0%;
        left: 50%;
        transform: scale(1.2)translate(-40%, 45%);
    }

    40% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    50% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    100% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }
}

@keyframes slideFromRight {
    0% {
        top: 3%;
        left: -100%;
    }

    100% {
        top: 3%;
        left: 50%;
    }

}