@keyframes startAppMainContent {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes startAppMainContent {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    10% {
        bottom: 0%;
        left: 50%;
        transform: scale(1.2)translate(-40%, 45%);
    }

    20% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    30% {
        bottom: 0%;
        left: 50%;
        transform: scale(1.2)translate(-40%, 45%);
    }

    40% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    50% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }

    100% {
        bottom: 0%;
        left: 50%;
        transform: scale(1)translate(-50%, 50%);
    }
}

@keyframes slideFromRight {
    0% {
        right: -100%;
    }

    50% {
        right: 0%;
    }

    0% {}

}