.search {
    position: relative;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $snow-color;

    &__main-text {
        position: absolute;
        @include center-item;
        top: 3%;
        left: -100%;
        align-self: flex-end;
        flex-basis: 100%;
        font-size: 20px;
        font-family: $main-font;
        font-weight: 700;

        &--animation {
            animation: slideFromRight .7s both ease-in;
        }

        &--color {
            font-family: $main-font;
            color: $turqu-color;
        }
    }

    &__button {
        align-self: flex-end;
        @include button-config;
        margin: 0px 15px -10px;
        cursor: pointer;

        &--aply {
            animation: onePulse both 1s .7s;
        }

        .ico {
            @include ico-config;
        }
    }

    &__input {
        align-self: center;

        display: block;
        width: 300px;
        height: 40px;
        margin: 0px auto -23px;
        padding: 6px 0px 6px 18px;
        font-size: 18px;
        font-weight: 300;
        font-family: $main-font;
        background-color: white;
        color: $dark-snow-color;
        border: none;
        border-radius: 31px;
        box-shadow: $border-shadow;
        outline: none;
        appearance: button;

        &--animation {
            animation: onePulse both 1s .9s;
        }
    }

    .country {
        align-self: center;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 370px;
        background-color: white;
        border-radius: 31px;
        box-shadow: $border-shadow;

        &--animation {
            animation: onePulseSize1 both 1s 1.1s;
        }

        &__flag {
            position: relative;
            align-self: flex-start;
            // overflow: hidden;
            margin: 30px auto 0px;
            width: 50px;
            height: 50px;
            border-radius: 50px;

            .flag {
                position: absolute;
                @include center-item;
            }
        }

        &__name {
            @include font-style-conteiner;
            margin: -20px 0 0 0;
            flex-basis: 100%;
            font-size: 18px;
            color: $dark-snow-color;
        }

        &__infected {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            color: $dark-snow-color;
            font-size: 18px;

            &::after {
                @include after;
            }
        }

        &__infected-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            color: $black-color;
            font-size: 18px;
        }

        &__recovered {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            color: $dark-snow-color;
            font-size: 18px;

            &::after {
                @include after;
            }
        }

        &__recovered-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            color: $black-color;
            font-size: 18px;
        }

        &__death {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            color: $dark-snow-color;
            font-size: 18px;

            &::after {
                @include after;
            }
        }

        &__death-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            color: $black-color;
            font-size: 18px;
        }

        &__daily-infected {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            margin-top: 20px;
            color: $dark-snow-color;
            font-size: 18px;

            &::after {
                @include after;
            }
        }

        &__daily-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            margin-top: 20px;
            color: $black-color;
            font-size: 18px;
        }

        &__data {
            @include font-style-conteiner;
            flex-basis: 100%;
            align-self: flex-end;
            font-size: 10px;
            color: $dark-snow-color;
        }

        &__data-number {
            align-self: flex-start;
            margin: 5px auto 0;
            font-size: 10px;
            color: $black-color;
        }
    }
}

@media (min-width:360px) {
    .search {
        &__input {
            width: 335px;
            height: 50px;
            margin: 0px auto -23px;
            font-size: 20px;
        }

        .country {
            width: 335px;
            height: 460px;

            &__name {
                font-size: 20px;
            }

            &__infected {
                font-size: 20px;

                &::after {
                    @include after;
                    width: 275px;
                }
            }

            &__infected-number {
                font-size: 20px;
            }

            &__recovered {
                font-size: 20px;

                &::after {
                    @include after;
                    width: 275px;
                }
            }

            &__recovered-number {
                font-size: 20px;
            }

            &__death {
                font-size: 20px;

                &::after {
                    @include after;
                    width: 275px;
                }
            }

            &__death-number {
                font-size: 20px;
            }

            &__daily-infected {
                font-size: 20px;

                &::after {
                    @include after;
                    width: 275px;
                }
            }

            &__daily-number {
                font-size: 20px;
            }

        }
    }
}

@media (min-width:459px) {
    .search {
        height: 100%;
        justify-content: center;

        &__input {
            width: 300px;
            margin: 10px 150px;
        }

        &__button {
            margin: 40px 60px 0;
        }

    }

}

@media (min-width:640px) {
    .search {
        &__input {
            width: 335px;
            margin: 10px 150px;
        }
    }
}