.search {
    position: relative;
    top: 0;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: $snow-color;

    &__main-text {
        position: absolute;
        @include center-item;
        top: 3%;
        align-self: flex-end;
        flex-basis: 100%;
        font-size: 20px;
        font-family: $main-font;
        font-weight: 700;
        animation: slideFromRigh .3s 5s ease-in infinite;

        &--color {
            font-family: $main-font;
            color: $turqu-color;
        }
    }

    .button {
        align-self: flex-end;
        @include button-config;
        margin: 0px 15px -10px;

        .ico {
            @include ico-config;
        }
    }

    &__input {
        align-self: center;

        display: block;
        width: 344px;
        height: 47px;
        margin: 0px 15px -25px;
        padding: 12px 0px 12px 18px;
        font-size: 20px;
        font-weight: 300;
        font-family: $main-font;
        background-color: white;
        color: $dark-snow-color;
        border: none;
        border-radius: 31px;
        box-shadow: $border-shadow;
    }

    .country {
        align-self: center;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 344px;
        height: 440px;
        background-color: white;
        border-radius: 31px;
        box-shadow: $border-shadow;

        &__flag {
            width: 80px;
            height: 80px;
            border-radius: 50px;
            background-color: tomato;
        }

        &__flag {
            align-self: flex-start;
            margin: 30px auto 0px;
        }

        &__name {
            @include font-style-conteiner;
            margin: -20px 0 0 0;
            flex-basis: 100%;
            color: $dark-snow-color;
        }

        &__infected {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            color: $dark-snow-color;

            &::after {
                @include after;
            }
        }

        &__infected-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            color: $black-color;
        }

        &__recovered {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            color: $dark-snow-color;

            &::after {
                @include after;
            }
        }

        &__recovered-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            color: $black-color;
        }

        &__death {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            color: $dark-snow-color;

            &::after {
                @include after;
            }
        }

        &__death-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            color: $black-color;
        }

        &__daily-infected {
            position: relative;
            @include font-style-conteiner;
            padding-left: 30px;
            text-align: left;
            margin-top: 20px;
            color: $dark-snow-color;

            &::after {
                @include after;
            }
        }

        &__daily-number {
            @include font-style-conteiner;
            text-align: right;
            padding-right: 30px;
            margin-top: 20px;
            color: $black-color;
        }

        &__data {
            @include font-style-conteiner;
            flex-basis: 100%;
            align-self: flex-end;
            font-size: 10px;
            color: $dark-snow-color;
        }

        &__data-number {
            align-self: flex-start;
            margin: 5px auto 0;
            font-size: 10px;
            color: $black-color;
        }
    }
}